body {
    background-image: url("https://plus.unsplash.com/premium_vector-1711979205032-1187a1ac0e88?q=80&w=749&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

div {
    max-width: max-content;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

h3{
    font-size: 25px;
    margin-top: 20;
    margin-bottom: 10px;
}

button {
    border: none;
    padding: 12px 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 18px;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.9;
}

#increment-btn {
    background: blueviolet;
}

#save-btn {
    background: orangered;
}
